@model IEnumerable<GreedIsland.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h2>Cards List</h2>

@* TODO: Add Bootstrap table styling *@
<table class="table table-striped">
    <thead>
        <tr>
            <th>@* TODO: Replace placeholder text with actual card properties *@ Name</th>
            <th>Rarity</th>
            <th>Description</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Rarity</td>
                <td>@item.Description</td>
                <td>
                    @* TODO: Insert Greed Island card images *@
                    <img src="@item.ImageUrl" alt="Card Image" width="100" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>